.avarta-margin{
    width: 150px !important;
}

.title{
    margin-left: 200px;
    margin-top: -40px;
    font-weight:bolder;
    font-size:250%;
    white-space: nowrap;
}
/* 
.tab-margin{
    margin-top: 50px;
    margin-right:55px !important;
} */

.follow-box{
    border-style: outset;
    width:170px;
    height:50px;
    margin-top: 30px;

}

.middle-line{
    width: 1px;
    height: 45px; 
    background-color:Gray;
}
