@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);

div.every-divs{
    border-top: 200px;
    /* padding: 10px; */
}

div.recipe-title {
  font-size: 200%;
}

div.vertical-distance {
    margin-top: 20px;
}

div.on-bottom {
    /* position: absolute; 
    bottom: 0px;  */
    /* text-align: bottom; */
    margin-bottom: 0;
    /* vertical-align:bottom;
    vertical-align:baseline; */
}

div.right-align {
    
    padding-left: 70px;
}

.normal-text {  
    font-size: 15px;
    margin-bottom: 10px;
}

.normal-link{  
    font-size: 15px;
    margin-bottom: 10px;
    color: rgba(56, 114, 191, 0.8);
}

.comment-block{
    display: grid;
    width:700px;
    height:150px;
    /* background-color: #ded2be;; */
    border-radius: 5px;
    box-shadow: 0px 0px 3px 2px black;
    /* margin-left: 55px; */
}

.comment-input-header{
    margin-bottom: 10px !important;
    margin-left: 55px;
}

.left-space {
    margin-left: 55px;
}

.place-right {
  position: absolute;
  right: 0px;
  /* width: 300px;
  border: 3px solid #73AD21;
  padding: 10px; */
}

.img-size{
    width
}
